Repository hftm-in2023/angular-blog-mehmet-oezdag: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: add custom footer with ozdag link
  src/app/app.component.html
Due: prettier --write, eslint --fix

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-witty-hill-01df38b03.yml
Due: none

fix: configure ChromeHeadlessCI for GitHub Actions tests
  .github/workflows/azure-deploy.yml
  .github/workflows/ci-cd.yml
  karma.conf.js
Due: prettier --write, eslint --fix

style: fix prettier formatting for app.component.html
  src/app/app.component.html
Due: prettier --write, eslint --fix

feat: Add Angular Material with Azure/Blue theme and animations support
  angular.json
  package-lock.json
  package.json
  src/app/app.config.ts
  src/index.html
  src/styles.scss
Due: prettier --write, eslint --fix

feat: Add comprehensive Angular concepts demo component
  src/app/app.component.html
  src/app/app.component.ts
  src/app/demo/demo.component.html
  src/app/demo/demo.component.scss
  src/app/demo/demo.component.ts
Due: prettier --write, eslint --fix

docs: Add comprehensive change log documenting Angular Material demo features
  README.md
Due: prettier --write

Private Azure Static Web Apps (#1)
  .github/workflows/azure-static-web-apps-witty-hill-01df38b03.yml
  README.md
  angular.json
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/demo/demo.component.html
  src/app/demo/demo.component.scss
  src/app/demo/demo.component.ts
  src/index.html
  src/styles.scss
Due: prettier --write, eslint --fix

docs: Add live demo website link to README
  README.md
Due: prettier --write

chore: improve gitignore and add backend dependencies - Update .gitignore to exclude backend node_modules and Quarkus build artifacts, add backend package-lock.json for dependency version locking
  .gitignore
  backend/package-lock.json
Due: prettier --write

fix: resolve Node.js version compatibility for Azure deployment
  .github/workflows/azure-static-web-apps-witty-hill-01df38b03.yml
  .nvmrc
  package.json
Due: prettier --write

fix: resolve production build issues - template projection, SCSS deprecation, bundle budgets
  angular.json
  src/app/app.component.html
  src/app/app.component.scss
Due: prettier --write, eslint --fix

fix: correct Azure deployment app_location for skip_app_build configuration
  .github/workflows/azure-static-web-apps-witty-hill-01df38b03.yml
Due: none

fix: resolve test configuration and add CI test script
  .github/workflows/azure-deploy.yml
  .github/workflows/ci-cd.yml
  karma.conf.js
  package.json
  src/app/app.component.spec.ts
Due: prettier --write, eslint --fix

fix: comprehensive test configuration improvements for CI/CD environments
  .github/workflows/azure-deploy.yml
  .github/workflows/ci-cd.yml
  karma.conf.js
  package.json
Due: prettier --write, eslint --fix

fix: resolve Prettier formatting issues across codebase
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/demo/demo.component.html
  src/app/demo/demo.component.scss
  src/index.html
  src/styles.scss
Due: prettier --write, eslint --fix

fix: add environment-based configuration and mock data for production deployment
  angular.json
  src/app/services/blog.service.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, eslint --fix

fix: resolve Prettier formatting issues in BlogService and environment files
  src/app/services/blog.service.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: prettier --write, eslint --fix

fix: resolve CI/CD pipeline security and codecov issues
  .github/workflows/ci-cd.yml
  package-lock.json
Due: prettier --write

fix: resolve Azure Static Web Apps deployment file location issue
  .github/workflows/azure-static-web-apps-witty-hill-01df38b03.yml
Due: none

fix: copy built files directly to workspace root for Azure deployment
  .github/workflows/azure-static-web-apps-witty-hill-01df38b03.yml
  commitlint.config.js
  eslint.config.js
  karma.conf.js
Due: prettier --write, eslint --fix

fix: restore accidentally deleted configuration files (commitlint, eslint, karma)
  commitlint.config.js
  eslint.config.js
  karma.conf.js
Due: prettier --write, eslint --fix

feat: implement angular best practices improvements
  .github/dependabot.yml
  .husky/pre-commit
  .lintstagedrc.json
  src/app/app.component.html
  src/app/app.component.ts
Due: prettier --write, eslint --fix

docs: auto-document changes made on June 26, 2025
  README.md
Due: prettier --write

feat: implement comprehensive angular best practices overhaul
  .husky/pre-commit
  .lintstagedrc.json
  PULL_REQUEST_TEMPLATE.md
  src/app/app.component.html
  src/app/app.component.ts
Due: prettier --write, eslint --fix

fix: resolve import paths after file restructuring
  SPRINT_2_SUMMARY.md
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/core/interceptors/error.interceptor.ts
  src/app/core/resolvers/blog-detail.resolver.ts
  src/app/core/services/blog.service.ts
  src/app/features/blog-detail/blog-detail-routing.module.ts
  src/app/features/blog-detail/blog-detail.module.ts
  src/app/features/blog-detail/components/blog-detail-container/blog-detail-container.component.html
  src/app/features/blog-detail/components/blog-detail-container/blog-detail-container.component.scss
  src/app/features/blog-detail/components/blog-detail-container/blog-detail-container.component.ts
  src/app/features/blog-detail/components/blog-detail-view/blog-detail-view.component.html
  src/app/features/blog-detail/components/blog-detail-view/blog-detail-view.component.scss
  src/app/features/blog-detail/components/blog-detail-view/blog-detail-view.component.ts
  src/app/features/blog-overview/blog-overview-routing.module.ts
  src/app/features/blog-overview/blog-overview.module.ts
  src/app/features/blog-overview/components/blog-card/blog-card.component.html
  src/app/features/blog-overview/components/blog-card/blog-card.component.scss
  src/app/features/blog-overview/components/blog-card/blog-card.component.ts
  src/app/features/blog-overview/components/blog-filter/blog-filter.component.html
  src/app/features/blog-overview/components/blog-filter/blog-filter.component.scss
  src/app/features/blog-overview/components/blog-filter/blog-filter.component.ts
  src/app/features/blog-overview/components/blog-list/blog-list.component.html
  src/app/features/blog-overview/components/blog-list/blog-list.component.scss
  src/app/features/blog-overview/components/blog-list/blog-list.component.ts
  src/app/features/blog-overview/components/blog-overview-container/blog-overview-container.component.html
  src/app/features/blog-overview/components/blog-overview-container/blog-overview-container.component.scss
  src/app/features/blog-overview/components/blog-overview-container/blog-overview-container.component.ts
Due: prettier --write, eslint --fix

style: improve code formatting and structure
  PULL_REQUEST_TEMPLATE_SPRINT2.md
Due: prettier --write

docs: document Sprint 2 improvements in README
  README.md
Due: prettier --write

feat: Sprint 2a implementation - validation, design patterns & interceptors
  SPRINT_2A_SUMMARY.md
  package-lock.json
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/core/interceptors/logging.interceptor.spec.ts
  src/app/core/interceptors/logging.interceptor.ts
  src/app/core/resolvers/blog-detail.resolver.ts
  src/app/core/schemas/blog.schemas.spec.ts
  src/app/core/schemas/blog.schemas.ts
  src/app/core/services/blog.service.ts
  src/app/features/blog-detail/blog-detail.module.ts
  src/app/features/blog-detail/components/blog-detail-container/blog-detail-container.component.spec.ts
  src/app/features/blog-detail/components/blog-detail-container/blog-detail-container.component.ts
  src/app/features/blog-detail/components/blog-detail-view/blog-detail-view.component.ts
  src/app/features/blog-overview/blog-overview.module.ts
  src/app/features/blog-overview/components/blog-card/blog-card.component.scss
  src/app/features/blog-overview/components/blog-card/blog-card.component.ts
  src/app/features/blog-overview/components/blog-filter/blog-filter.component.ts
  src/app/features/blog-overview/components/blog-list/blog-list.component.spec.ts
  src/app/features/blog-overview/components/blog-list/blog-list.component.ts
  src/app/features/blog-overview/components/blog-overview-container/blog-overview-container.component.html
  src/app/features/blog-overview/components/blog-overview-container/blog-overview-container.component.spec.ts
  src/app/features/blog-overview/components/blog-overview-container/blog-overview-container.component.ts
  src/app/sprint-2a-integration.spec.ts
  src/app/sprint-2a-verification.ts
  start-dev.sh
Due: prettier --write, eslint --fix

fix: Clean up unused imports and improve code quality
  src/app/app.component.ts
  src/app/core/services/blog.service.ts
  src/app/features/blog-detail/components/blog-detail-container/blog-detail-container.component.spec.ts
  src/app/features/blog-overview/components/blog-overview-container/blog-overview-container.component.ts
Due: prettier --write, eslint --fix

fix: optimize Azure Static Web Apps deployment size
  .azureignore
  .github/workflows/azure-deploy.yml
  .github/workflows/azure-static-web-apps-witty-hill-01df38b03.yml
  .gitignore
Due: none

fix: use separate deploy directory for Azure Static Web Apps
  .github/workflows/azure-deploy.yml
  .github/workflows/azure-static-web-apps-witty-hill-01df38b03.yml
Due: none

fix: resolve critical linting errors blocking CI/CD
  src/app/features/blog-overview/components/blog-list/blog-list.component.spec.ts
  src/app/sprint-2a-verification.ts
Due: prettier --write, eslint --fix

fix: allow deployment to proceed with linting warnings
  .github/workflows/azure-deploy.yml
  .github/workflows/ci-cd.yml
Due: none

chore: force CI cache refresh and improve deployment reliability
  .github/workflows/azure-deploy.yml
  .github/workflows/azure-static-web-apps-witty-hill-01df38b03.yml
Due: none

fix: update ESLint configuration to resolve CI linting errors
  .github/workflows/ci-cd.yml
  eslint.config.js
Due: prettier --write, eslint --fix

fix: resolve TypeScript error in blog-detail-container test
  src/app/features/blog-detail/components/blog-detail-container/blog-detail-container.component.spec.ts
Due: prettier --write, eslint --fix

ci: add npm cache clearing to ensure fresh builds
  .github/workflows/azure-static-web-apps-witty-hill-01df38b03.yml
Due: none

fix: use more permissive type cast for ActivatedRoute in tests
  src/app/features/blog-detail/components/blog-detail-container/blog-detail-container.component.spec.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,html,scss}) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,ts,html,scss}
